#game * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game * {
    cursor: default;
}

#game .link, #game .link * {
    cursor: pointer;
}

#game {
	position : absolute;
	left : 0;
	top : 0;
	font-size : 40px;
	background-color: transparent;
    color: white;

    text-align : center;

    overflow: hidden;

    width : 800px;
    height : 600px;
}

.screen {
    position: absolute;
    left: 0;
    top: 0;

    color: white;

    padding: 0.5em 0.5em 0.5em 0.5em;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

	display : none;
	z-index : 0;

    width : 100%;
    height : 100%
}

#menu-screen {
    text-align: left;
}

#menu-screen ul {
    margin: 0;
    list-style-type: square;
}

.menu-link {
    border: ridge;
    border-color: white;
    border-width: medium;
}

#conversations {
    position: absolute;
    left: 0;
    bottom: 0;

    background-color: blue;
    color: white;

    border: ridge;
    border-color: white;
    border-width: thick;

    text-align: left;

    padding: 0.5em 0.5em 0.5em 0.5em;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

	display : none;
	z-index : 1;

    width : 100%;
    height : 40%
}

.message {
    width: 100%;
    height: 100%;
}